@charset "UTF-8";

.pr_01 {
  text-align: center;
}

.pr_01 h1 {
  position: relative;
  font-size: 32px;
  margin-bottom: 40px;
}

.pr_01 h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 1px;
  background-color: red;
}